---
layout: page
title:  Reading
permalink: /reading/
---

<div class="archive">
  
  <p>I am curious about the world, so I read mainly non-fiction on topics such as international affairs and current events.</p>

  <p>I try to read at least one book per month, and recording them here helps me stay accountable to that goal. In school and at work, there is a lot of multitasking and context switching, and I find that reading full length books helps to improve my comprehension and focus.</p>
  
  <div class="timeline" id="timeline">
    {% assign prev_year = -1 %}
    {% for book in site.data.reading_list reversed %}

    {% if book.year != prev_year %}

    {% if prev_year != -1 %}
    </ul>
    {% endif %}

    {% assign prev_year = book.year %}
    <div class="archive-title">
      <h4 class="archive-year">{{ book.year }}</h4>
    </div>
    <ul>
    {% endif %}
    
    <li>
      <div style="width:60px;float:left;">{{ book.month }}</div> <a href="{{ book.link }}">{{ book.title }}</a> - {{ book.author }}
    </li>

    {% endfor %}
    </ul>
    

  </div>

</div>
