---
layout: page
title:  Reading
permalink: /reading/
---

<div class="archive">
  
  <p>I am curious about the world, so I like reading non-fiction on topics such as international affairs and current events.</p>

  <div class="timeline" id="timeline">
    {% assign prev_year = -1 %}
    {% for book in site.data.reading_list reversed %}

    {% if book.year != prev_year %}

    {% if prev_year != -1 %}
    </ul>
    {% endif %}

    {% assign prev_year = book.year %}
    <div class="archive-title">
      <h4 class="archive-year">{{ book.year }}</h4>
    </div>
    <ul>
    {% endif %}
    
    <li>
      <div style="width:60px;float:left;">{{ book.month }}</div> <a href="{{ book.link }}">{{ book.title }}</a> - {{ book.author }}
    </li>

    {% endfor %}
    </ul>
    

  </div>

</div>
